<div id="<%= dom_id wordlist %>">
  <p>
    <strong>English word:</strong>
    <%= wordlist.english_word %>
  </p>

  <p>
    <strong>Japanese ward:</strong>
    <%= wordlist.japanese_ward %>
  </p>

</div>
